body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u726 {
  position:absolute;
  left:922px;
  top:96px;
  width:300px;
  height:251px;
}
#u727 {
  position:absolute;
  left:2px;
  top:118px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:48px;
  background:inherit;
  background-color:rgba(23, 41, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  position:absolute;
  left:0px;
  top:12px;
  width:1222px;
  height:48px;
}
#u730 {
  position:absolute;
  left:2px;
  top:16px;
  width:1218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u731 {
  position:absolute;
  left:12px;
  top:16px;
  width:168px;
  height:40px;
}
#u732 {
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:841px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u733 {
  position:absolute;
  left:0px;
  top:69px;
  width:114px;
  height:841px;
}
#u734 {
  position:absolute;
  left:2px;
  top:412px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735 {
  position:absolute;
  left:23px;
  top:116px;
  width:57px;
  height:20px;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u737 {
  position:absolute;
  left:23px;
  top:86px;
  width:57px;
  height:20px;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:190px;
  top:26px;
  width:35px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u741 {
  position:absolute;
  left:249px;
  top:26px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u743 {
  position:absolute;
  left:124px;
  top:116px;
  width:778px;
  height:109px;
}
#u744 {
  position:absolute;
  left:2px;
  top:46px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  position:absolute;
  left:124px;
  top:316px;
  width:778px;
  height:331px;
}
#u746 {
  position:absolute;
  left:2px;
  top:158px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u747 {
  position:absolute;
  left:147px;
  top:327px;
  width:56px;
  height:56px;
}
#u748 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u749 {
  position:absolute;
  left:225px;
  top:327px;
  width:103px;
  height:20px;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u751 {
  position:absolute;
  left:225px;
  top:357px;
  width:155px;
  height:20px;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u753 {
  position:absolute;
  left:225px;
  top:393px;
  width:510px;
  height:49px;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:103px;
}
#u755 {
  position:absolute;
  left:225px;
  top:442px;
  width:146px;
  height:103px;
}
#u756 {
  position:absolute;
  left:2px;
  top:44px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:103px;
}
#u757 {
  position:absolute;
  left:381px;
  top:442px;
  width:146px;
  height:103px;
}
#u758 {
  position:absolute;
  left:2px;
  top:44px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:103px;
}
#u759 {
  position:absolute;
  left:537px;
  top:442px;
  width:146px;
  height:103px;
}
#u760 {
  position:absolute;
  left:2px;
  top:44px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:2px;
}
#u761 {
  position:absolute;
  left:136px;
  top:587px;
  width:724px;
  height:1px;
}
#u762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u763 {
  position:absolute;
  left:353px;
  top:589px;
  width:1px;
  height:28px;
}
#u764 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u765 {
  position:absolute;
  left:682px;
  top:589px;
  width:1px;
  height:28px;
}
#u766 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u767 {
  position:absolute;
  left:179px;
  top:596px;
  width:21px;
  height:14px;
}
#u768 {
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:207px;
  top:594px;
  width:29px;
  height:20px;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u771 {
  position:absolute;
  left:742px;
  top:593px;
  width:72px;
  height:23px;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:2px;
}
#u773 {
  position:absolute;
  left:136px;
  top:618px;
  width:724px;
  height:1px;
}
#u774 {
  position:absolute;
  left:2px;
  top:-8px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u775 {
  position:absolute;
  left:146px;
  top:71px;
  width:34px;
  height:35px;
}
#u776 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:183px;
  top:77px;
  width:29px;
  height:20px;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u779 {
  position:absolute;
  left:225px;
  top:74px;
  width:33px;
  height:25px;
}
#u780 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u781 {
  position:absolute;
  left:313px;
  top:71px;
  width:41px;
  height:28px;
}
#u782 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783 {
  position:absolute;
  left:354px;
  top:77px;
  width:29px;
  height:20px;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:33px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u785 {
  position:absolute;
  left:124px;
  top:225px;
  width:778px;
  height:33px;
}
#u786 {
  position:absolute;
  left:2px;
  top:8px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u787 {
  position:absolute;
  left:136px;
  top:229px;
  width:27px;
  height:26px;
}
#u788 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u789 {
  position:absolute;
  left:163px;
  top:232px;
  width:40px;
  height:20px;
}
#u790 {
  position:absolute;
  left:2px;
  top:1px;
  width:36px;
  word-wrap:break-word;
}
#u791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u791 {
  position:absolute;
  left:225px;
  top:225px;
  width:23px;
  height:30px;
}
#u792 {
  position:absolute;
  left:2px;
  top:7px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u793 {
  position:absolute;
  left:254px;
  top:231px;
  width:40px;
  height:20px;
}
#u794 {
  position:absolute;
  left:2px;
  top:1px;
  width:36px;
  word-wrap:break-word;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u795 {
  position:absolute;
  left:343px;
  top:231px;
  width:65px;
  height:20px;
}
#u796 {
  position:absolute;
  left:2px;
  top:1px;
  width:61px;
  word-wrap:break-word;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u797 {
  position:absolute;
  left:318px;
  top:230px;
  width:25px;
  height:22px;
}
#u798 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:652px;
  top:232px;
  width:65px;
  height:20px;
}
#u800 {
  position:absolute;
  left:2px;
  top:1px;
  width:61px;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801 {
  position:absolute;
  left:816px;
  top:231px;
  width:65px;
  height:20px;
}
#u802 {
  position:absolute;
  left:2px;
  top:1px;
  width:61px;
  word-wrap:break-word;
}
#u803 {
  position:absolute;
  left:727px;
  top:229px;
  width:76px;
  height:22px;
}
#u803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u803_input:disabled {
  color:grayText;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u804 {
  position:absolute;
  left:136px;
  top:274px;
  width:115px;
  height:20px;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  position:absolute;
  left:276px;
  top:274px;
  width:111px;
  height:20px;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  position:absolute;
  left:228px;
  top:555px;
  width:115px;
  height:20px;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:368px;
  top:555px;
  width:111px;
  height:20px;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u812 {
  position:absolute;
  left:256px;
  top:76px;
  width:45px;
  height:22px;
  font-size:16px;
}
#u813 {
  position:absolute;
  left:2px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  position:absolute;
  left:1339px;
  top:69px;
  width:531px;
  height:394px;
}
#u815 {
  position:absolute;
  left:2px;
  top:189px;
  width:527px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816 {
  position:absolute;
  left:1339px;
  top:266px;
  width:0px;
  height:0px;
}
#u816_seg0 {
  position:absolute;
  left:-103px;
  top:-4px;
  width:103px;
  height:8px;
}
#u816_seg1 {
  position:absolute;
  left:-103px;
  top:-190px;
  width:8px;
  height:194px;
}
#u816_seg2 {
  position:absolute;
  left:-943px;
  top:-190px;
  width:848px;
  height:8px;
}
#u816_seg3 {
  position:absolute;
  left:-943px;
  top:-190px;
  width:8px;
  height:48px;
}
#u816_seg4 {
  position:absolute;
  left:-1064px;
  top:-150px;
  width:129px;
  height:8px;
}
#u816_seg5 {
  position:absolute;
  left:-1064px;
  top:-168px;
  width:8px;
  height:26px;
}
#u817 {
  position:absolute;
  left:-518px;
  top:-194px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:1364px;
  top:96px;
  width:57px;
  height:20px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u820 {
  position:absolute;
  left:1454px;
  top:96px;
  width:300px;
  height:25px;
}
#u820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:1364px;
  top:161px;
  width:57px;
  height:20px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:1364px;
  top:269px;
  width:57px;
  height:40px;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u825 {
  position:absolute;
  left:1454px;
  top:149px;
  width:300px;
  height:64px;
}
#u825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u826 {
  position:absolute;
  left:1454px;
  top:231px;
  width:300px;
  height:116px;
}
#u826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:116px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u827 {
  position:absolute;
  left:1454px;
  top:373px;
  width:300px;
  height:25px;
}
#u827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u828 {
  position:absolute;
  left:1364px;
  top:373px;
  width:71px;
  height:20px;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u830 {
  position:absolute;
  left:1704px;
  top:408px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u831 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:532px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u832 {
  position:absolute;
  left:1339px;
  top:502px;
  width:531px;
  height:532px;
}
#u833 {
  position:absolute;
  left:2px;
  top:258px;
  width:527px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834 {
  position:absolute;
  left:1339px;
  top:768px;
  width:0px;
  height:0px;
}
#u834_seg0 {
  position:absolute;
  left:-46px;
  top:-4px;
  width:46px;
  height:8px;
}
#u834_seg1 {
  position:absolute;
  left:-46px;
  top:-685px;
  width:8px;
  height:689px;
}
#u834_seg2 {
  position:absolute;
  left:-956px;
  top:-685px;
  width:919px;
  height:8px;
}
#u835 {
  position:absolute;
  left:-188px;
  top:-689px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  position:absolute;
  left:1364px;
  top:529px;
  width:57px;
  height:20px;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u838 {
  position:absolute;
  left:1454px;
  top:529px;
  width:96px;
  height:25px;
}
#u838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839 {
  position:absolute;
  left:1364px;
  top:594px;
  width:57px;
  height:20px;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:1364px;
  top:831px;
  width:57px;
  height:40px;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u843 {
  position:absolute;
  left:1454px;
  top:582px;
  width:300px;
  height:64px;
}
#u843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u844 {
  position:absolute;
  left:1454px;
  top:793px;
  width:300px;
  height:116px;
}
#u844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:116px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u845 {
  position:absolute;
  left:1454px;
  top:935px;
  width:300px;
  height:25px;
}
#u845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  position:absolute;
  left:1364px;
  top:935px;
  width:71px;
  height:20px;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u848 {
  position:absolute;
  left:1704px;
  top:970px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u849 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:1658px;
  top:529px;
  width:96px;
  height:25px;
}
#u850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  position:absolute;
  left:1584px;
  top:532px;
  width:15px;
  height:20px;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u853 {
  position:absolute;
  left:523px;
  top:589px;
  width:96px;
  height:28px;
}
#u854 {
  position:absolute;
  left:2px;
  top:5px;
  width:92px;
  word-wrap:break-word;
}
#u855 {
  position:absolute;
  left:124px;
  top:647px;
  width:778px;
  height:263px;
  overflow:hidden;
}
#u855_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:263px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u855_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:56px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  position:absolute;
  left:62px;
  top:168px;
  width:698px;
  height:56px;
}
#u857 {
  position:absolute;
  left:2px;
  top:20px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u858 {
  position:absolute;
  left:13px;
  top:11px;
  width:40px;
  height:31px;
}
#u859 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  position:absolute;
  left:70px;
  top:11px;
  width:696px;
  height:38px;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u862 {
  position:absolute;
  left:62px;
  top:49px;
  width:19px;
  height:26px;
}
#u863 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u864 {
  position:absolute;
  left:81px;
  top:53px;
  width:38px;
  height:19px;
}
#u865 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u866 {
  position:absolute;
  left:119px;
  top:49px;
  width:23px;
  height:30px;
}
#u867 {
  position:absolute;
  left:2px;
  top:7px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u868 {
  position:absolute;
  left:707px;
  top:51px;
  width:59px;
  height:26px;
}
#u869 {
  position:absolute;
  left:2px;
  top:5px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:2px;
}
#u870 {
  position:absolute;
  left:19px;
  top:89px;
  width:747px;
  height:1px;
}
#u871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u872 {
  position:absolute;
  left:13px;
  top:100px;
  width:40px;
  height:31px;
}
#u873 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:66px;
  top:98px;
  width:696px;
  height:38px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:2px;
}
#u876 {
  position:absolute;
  left:13px;
  top:242px;
  width:747px;
  height:1px;
}
#u877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u878 {
  position:absolute;
  left:62px;
  top:136px;
  width:101px;
  height:15px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u880 {
  position:absolute;
  left:664px;
  top:136px;
  width:27px;
  height:18px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u882 {
  position:absolute;
  left:701px;
  top:136px;
  width:1px;
  height:18px;
}
#u883 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u884 {
  position:absolute;
  left:708px;
  top:134px;
  width:55px;
  height:20px;
  font-size:12px;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u886 {
  position:absolute;
  left:62px;
  top:170px;
  width:40px;
  height:31px;
}
#u887 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:115px;
  top:168px;
  width:696px;
  height:38px;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u890 {
  position:absolute;
  left:111px;
  top:206px;
  width:101px;
  height:15px;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u892 {
  position:absolute;
  left:653px;
  top:206px;
  width:27px;
  height:18px;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u894 {
  position:absolute;
  left:690px;
  top:206px;
  width:1px;
  height:18px;
}
#u895 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u896 {
  position:absolute;
  left:697px;
  top:204px;
  width:48px;
  height:20px;
  font-size:12px;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:274px;
  top:243px;
  width:77px;
  height:20px;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:1364px;
  top:694px;
  width:57px;
  height:20px;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u902 {
  position:absolute;
  left:1454px;
  top:682px;
  width:300px;
  height:64px;
}
#u902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:1029px;
  top:116px;
  width:57px;
  height:20px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u905 {
  position:absolute;
  left:940px;
  top:149px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u907 {
  position:absolute;
  left:940px;
  top:193px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  position:absolute;
  left:922px;
  top:629px;
  width:300px;
  height:251px;
}
#u910 {
  position:absolute;
  left:2px;
  top:118px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  position:absolute;
  left:1029px;
  top:393px;
  width:127px;
  height:20px;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:1029px;
  top:647px;
  width:85px;
  height:20px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915 {
  position:absolute;
  left:922px;
  top:357px;
  width:300px;
  height:251px;
}
#u916 {
  position:absolute;
  left:2px;
  top:118px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:1029px;
  top:373px;
  width:85px;
  height:20px;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  position:absolute;
  left:928px;
  top:694px;
  width:259px;
  height:20px;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  position:absolute;
  left:943px;
  top:724px;
  width:227px;
  height:72px;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:928px;
  top:413px;
  width:259px;
  height:20px;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  position:absolute;
  left:943px;
  top:443px;
  width:227px;
  height:72px;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u927 {
  position:absolute;
  left:940px;
  top:229px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
